<!DOCTYPE html>
<html>
<head>
	<title>Vue2.0 crud with laravel7.x and Mysql</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="axios.js"></script>
</head>
<body>
<div id="root">
		<div class="container">
			<h1 class="containerHeader">Vue2.0 crud with laravel7.x and Mysql</h1>
			<hr>
			<br><br>
			<h1 class="fleft col">List of Users</h1>
			<button class="fright addNew" @click="showingAddModal = true">Add New</button>
			<div class="clear"></div>
			<hr>
			
			<div v-if="errorMessages" class="errorMessage" >
				<ul>
					<li v-for="errorMessage in errorMessages">{{errorMessage}}</li>
				</ul>
			</div>
			
			<p class="successMessage" v-if="successMessage">
				{{successMessage}}
			</p>
			<table class="list">
				<tr>
					<th>SL</th>
					<th>Username</th>
					<th>Email</th>
					<th>Mobile</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr v-for="(user, i) in users">
					<td>{{i+1}}</td>
					<td>{{user.username}}</td>
					<td>{{user.email}}</td>
					<td>{{user.mobile}}</td>
					<td><button @click="showingEditModal = true; selectUser(user);">Edit</button></td>
					<td><button @click="showingDeleteModal = true; selectUser(user);">Delete</button></td>
				</tr>
			</table>
		</div>
		<div class="modal" id="addModal" v-if="showingAddModal">
			<div class="modalContainer">
				<div class="modalHeading">
					<p class="fleft">Add New User</p>
					<button class="fright close" @click="showingAddModal = false">X</button>
					<div class="clear"></div>
				</div>
				<div class="modalContent">
					<table class="form">
					<tr>
						<th>
							Username
						</th>
						<th> : </th>
						<td>
							<input type="text" v-model="newUser.username">
						</td>
					</tr>

					<tr>
						<th>
							Email
						</th>
						<th> : </th>
						<td>
							<input type="email" v-model="newUser.email">
						</td>
					</tr>

					<tr>
						<th>
							Mobile
						</th>
						<th> : </th>
						<td>
							<input type="number" v-model="newUser.mobile">
						</td>
					</tr>

					<tr>
						<th>
						</th>
						<th> </th>
						<td>
							<button @click="showingAddModal = false; saveUser();">Save</button>
						</td>
					</tr>
				</table>
				</div>
			</div>
		</div>
		<div class="modal" id="editModal" v-if="showingEditModal">
		<div class="modalContainer">
			<div class="modalHeading">
				<p class="fleft"> Edit User </p>
				<button class="fright close" @click="showingEditModal = false">
					X
				</button>
				<div class="clear">					
				</div>
			</div>

			<div class="modalContent">
				<table class="form">
					<tr>
						<th>
							username
						</th>
						<th> : </th>
						<td>
							<input type="text" v-model="clickedUser.username">
						</td>
					</tr>

					<tr>
						<th>
							email
						</th>
						<th> : </th>
						<td>
							<input type="email" v-model="clickedUser.email">
						</td>
					</tr>

					<tr>
						<th>
							Mobile
						</th>
						<th> : </th>
						<td>
							<input type="number" v-model="clickedUser.mobile">
						</td>
					</tr>

					<tr>
						<th>
						</th>
						<th> </th>
						<td>
							<button @click="showingEditModal = false; updateUser()">Update</button>
						</td>
					</tr>
				</table>
			</div>			
		</div>
	</div>


	<div class="modal" id="deleteModal" v-if="showingDeleteModal">
		<div class="modalContainer">
			<div class="modalHeading">
				<p class="fleft">Are you sure?</p>
				<button class="fright close" @click="showingDeleteModal = false;">x</button>
				<div class="clear"></div>
			</div>
			<div class="modalContent">
				<p>You are going to delete '{{clickedUser.username}}'.</p>
				<br><br><br><br><br>
				<button @click="showingDeleteModal = false; deleteUser()">Yes</button>
				<button @click="showingDeleteModal = false;">No</button>
			</div>
		</div>
	</div>

</div>

	<script type="text/javascript" src="vue2.6.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>



